@use "../_prelude.scss" as *;

.banner__logo {
    width: 175px;
}

.banner__heading {
    margin-top: 40px;

    font-size: $text-4xl;
    font-weight: 700;
}

.banner__slogan {
    margin-top: 30px;
    font-size: $text-xl;
    line-height: 32px;
}

.banner__button__container {
    margin-top: 40px;
    display: flex;
    gap: 40px;
}

@mixin banner__button($color) {
    @include button($color);

    height: 40px;
    padding: 0 12px;

    display: flex;
    align-items: center;
    gap: 8px;
}

@mixin banner__button__icon($size) {
    aspect-ration: 1 / 1;

    fill: white;
    width: $size;
}

@mixin banner__button__label {
    font-weight: 500;

    color: white;
}

/**
 * banner:contact-button
 */

.banner__contact__button {
    @include banner__button($color: blue);
}

.banner__contact__button__icon {
    @include banner__button__icon($size: 16px);

    position: relative;
    bottom: 1px;
}

.banner__contact__button__label {
    @include banner__button__label;
}

/**
 * banner:donate-button
 */

.banner__donate__button {
    @include banner__button($color: red);
}

.banner__donate__button__icon {
    @include banner__button__icon($size: 18px);
}

.banner__donate__button__label {
    @include banner__button__label;
}
