@use "../_prelude.scss" as *;

.priority__card__container {
    @include page-container;

    @include break(xxs) {
        width: calc(100% - 42px); // .block's default
    }

    @include break(md) {
        width: calc(100% - 160px);
    }

    display: flex;
    flex-direction: column;

    gap: 80px;
}

.priority__card {
    display: flex;
    align-items: center;
}

.priority__card__icon__container {
    width: 168px;
    min-width: 168px;
    height: 168px;
    min-height: 168px;

    border-radius: 100%;
    border: 1px solid $color-gray-200;

    display: flex;
    justify-content: center;
    align-items: center;
}

.priority__card__icon {
    width: 92px;
}

.priority__card__text {
    width: fit-content;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.priority__card__text__strong {
    font-size: $text-3xl;
    font-weight: 600;
}

.priority__card__text__paragraph {
    font-size: $text-xl;
    line-height: 32px;
}

/**
 * priorities:education
 */

.education__priority__card {
    text-align: left;
    justify-content: flex-start;

    @include break(xxs) {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    @include break(sm) {
        flex-direction: row;
        align-items: center;
        gap: 60px;
    }
}

.education__priority__card__icon__container {
    background-color: $color-green-100;
}

.education__priority__card__icon {
    fill: $color-green-500;
}

/**
 * priorities:support
 */

.support__priority__card {
    text-align: right;

    @include break(xxs) {
        flex-direction: column;
        align-items: flex-end;
        gap: 40px;
    }

    @include break(sm) {
        flex-direction: row-reverse;
        align-items: center;
        gap: 60px;
    }
}

.support__priority__card__icon__container {
    background-color: $color-amber-100;
}

.support__priority__card__icon {
    fill: $color-amber-500;
}

/**
 * priorities:connection
 */

.connection__priority__card {
    text-align: left;

    @include break(xxs) {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    @include break(sm) {
        flex-direction: row;
        align-items: center;
        gap: 60px;
    }
}

.connection__priority__card__icon__container {
    background-color: $color-blue-100;
}

.connection__priority__card__icon {
    fill: $color-blue-500;
}

/**
 * priorities:understanding
 */

.understanding__priority__card {
    text-align: right;

    @include break(xxs) {
        flex-direction: column;
        align-items: flex-end;
        gap: 40px;
    }

    @include break(sm) {
        flex-direction: row-reverse;
        align-items: center;
        gap: 60px;
    }
}

.understanding__priority__card__icon__container {
    background-color: $color-red-100;
}

.understanding__priority__card__icon {
    fill: $color-red-500;
}
