@use "index/_archive.scss";
@use "index/_banner.scss";
@use "index/_footer.scss";
@use "index/_header.scss";
@use "index/_hero.scss";
@use "index/_priorities.scss";

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    gap: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    gap: 100px;
}
